body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"),
  url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "PoppinsBoldItalic";
  src: local("PoppinsBoldItalic"),
  url("./fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "PoppinsExtraBold";
  src: local("PoppinsExtraBold"),
  url("./fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
}

@font-face { 
  font-family: "PoppinsExtraBoldItalic";
  src: local("PoppinsExtraBoldItalic"),
  url("./fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight:bolder;
}

@font-face { 
  font-family: "PoppinsItalic";
  src: local("PoppinsItalic"),
  url("./fonts/Poppins-Italic.ttf") format("truetype");
  font-weight:normal;
}

@font-face {  
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
  url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight:normal;
}